@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url(assats/images/bg.jpg);
    background-position: center center;
    height: 70vh;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    position: relative;
}

.main .box {
    background-color: black;
    top: 0;
    position: absolute;
    opacity: 0.69;
    width: 100%;
    height: 70vh;
}

nav {
    max-width: 80vw;
    display: flex;
    margin: auto;
    justify-content: space-between;
    height: 112px;
    align-items: center;
}

nav img {
    width: 144px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100px - 62);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    position: relative;
    z-index: 10;
    font-weight: 700;
}

.hero > :first-child {
    font-weight: 900;
    font-weight: bolder;
    font-size: x-large;
    gap: 23px;
    text-align: center;
}

.hero > :last-child {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.start {
    background-color: red;
    color: white;
    font-weight: 700;
    height: 34px;
    font-size: large;
    margin: 18px;
    padding: 1px;
    border: 2px solid;
    position: relative;
    right: 7%;

}

.pls {
    margin: 30px;
    padding: 3px;
    font-size: larger;
    border: 2px solid;
    border-radius: 3px;
    background-color: rgb(18, 18, 18);
    
    
   
}

body {
    background-color: black;
}

.separation {
    height: 7px;
    background-color: rgb(43, 42, 42);
    width: 100%;
}

.pls:focus{
    background-color: rgb(244, 243, 243);
    color: rgb(0, 0, 0);
}
.pls::placeholder {
    color: rgb(239, 232, 232);
}
.engb{
    background-color: hsla(0, 67%, 1%, 0);
    color: rgb(255, 253, 253);
    position: relative;
    right: 10px;
    font-size: larger;
    font-weight: 650;
    border-radius:10px;
    padding: 3px;
    font-weight: bold;
    opacity: 0.90;
    cursor: pointer;
}

.signb{
    border-radius:10px;
    padding: 3px;
    
    background-color: red;
    color: white;
    position: relative;
    left: 10px;
    font-size: larger;
    font-weight: 650;
    font-weight: bold;
    cursor: pointer;
  
    
    
}

.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    font-size:x-large;
}

.secimg img{
   width: 555px;
   position: relative;
   z-index: 10;
   
}

.secimg{
    position: relative;
}

.secimg video{
    position: absolute;
    top: 51px;
    right: 0px;
   
    
    
}

.imgtext{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.done{
    visibility: hidden;
}
.faq{
    background-color: black;
    color: white;
    text-align: center;
    padding: 34px;
}
.faqbox{

    font-size: 24px;
    cursor: pointer;
    display: flex;
    background-color: rgb(54, 53, 53);
    color: white;
    padding: 24px;
    max-width: 40vw;
    margin: 34px;
    justify-content: space-between;
    position: relative;
    left:28%
    
    
}

.faqbox:hover{
    transition: all 2s ease-out;
    background-color: rgb(244, 23, 23);
}

.faq svg{
    filter: invert(1);
}

